<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
<product-popup>
  <div id="product-popup" class="product-popup">
    <div class="popup-content"></div>
  </div>
</product-popup>

<script>
  // Debug log to confirm snippet is loaded
  console.log('Product popup snippet loaded');
</script>